body[data-theme="light"] {
    // --bg-color: hsl(210, 22%, 96%);
    // --base-bg: hsl(0, 0%, 100%);
    // --input-color: hsl(219, 29%, 14%);
    // --checkbox-bg: hsl(210, 22%, 96%);
    // --heading-color: hsl(219, 29%, 14%);
    // --company-btn-color: hsl(235, 69%, 61%);

}


body[data-theme="dark"] {
    --bg-color: hsl(220, 29%, 10%);
    --base-bg:  hsl(219, 29%, 14%);
    --input-color: hsl(0, 0%, 100%);
    --checkbox-bg: hsla(0, 0%, 100%, 0.1);
    --heading-color: hsl(0, 0%, 100%);
    --company-btn-color: hsl(0, 0%, 100%);
}