@font-face {
  font-family: "Kumbh Sans Regular";
  src: url("../../../textfont/KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kumbh Sans Bold";
  src: url("../../../textfont/KumbhSans-Bold.ttf") format("truetype");
}

/*===== EXTENDS AN REUSABLE CLASSES =====*/
.grid-item .job-time, .job .job-details__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
  color: #6d7f97;
  line-height: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-item .job-time .dot, .job .job-details__time .dot {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-left: 1.5rem;
}

.grid-item .job-time .time, .job .job-details__time .time {
  margin-left: .75rem;
}

.grid-item .job-title h2, .job .job-details__post .job-title h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: "Kumbh Sans Bold", sans-serif;
}

.grid-item .job-location p, .job .job-details__post .job-title p {
  color: #5762e0;
  font-family: "Kumbh Sans Bold", sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
}

.container {
  max-width: 81.25rem;
  padding: 0 1.5625rem;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-color {
  color: #5762e0;
}

.bg-1 {
  background-color: #3db3d1;
}

.bg-2 {
  background-color: #df6dae;
}

.bg-3 {
  background-color: #3d3b94;
}

.bg-4 {
  background-color: #e66d39;
}

.bg-5 {
  background-color: #f0b62a;
}

.bg-6 {
  background-color: #007cff;
}

.bg-7 {
  background-color: #492a29;
}

.bg-8 {
  background-color: #ff585f;
}

html[data-theme="light"] {
  --bg: var(--gray--light);
  --main-base: var(--white);
  --heading: var(--blue--dark);
  --text--main: var(--gray--dark);
  --company-site-btn: var(--violet);
  --border: var(--white);
  --spinner: black;
  --back-to-top: hsla(219, 29%, 14%, .8);
  --error: hsla(0, 100%, 50%, .8);
  --shadowColor: 0, 0, 0, 0.3;
  --box-shadow: 5px 5px 15px 0 rgba(var(--shadowColor));
}

html[data-theme="dark"] {
  --bg: var(--midnight);
  --main-base: var(--blue--dark);
  --heading: var(--white);
  --text--main: var(--gray--dark);
  --company-site-btn: var(--white);
  --border: var(--midnight);
  --spinner: var(--violet);
  --back-to-top: var(--violet);
  --error: hsla(0, 100%, 50%, .4);
  --shadowColor: 0, 0, 0, 1;
  --box-shadow: 5px 5px 15px 0 rgba(var(--shadowColor));
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  font-family: "Kumbh Sans Regular", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  color: #19212e;
}

body {
  background-color: #f3f5f7;
}

a {
  text-decoration: none;
}

header {
  background-color: #5762e0;
  height: 10rem;
  margin-top: -1.875rem;
}

header nav {
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  color: white;
  text-decoration: none;
  font-family: "Kumbh Sans Bold", sans-serif;
  font-size: 1.625rem;
  letter-spacing: .5px;
}

header .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .toggle-container label {
  background-color: white;
  display: inline-block;
  position: relative;
  margin: 0 0.9375rem;
  width: 2.875rem;
  height: 1.25rem;
  border-radius: 50px;
  cursor: pointer;
}

header .toggle-container .toggle-ball {
  height: 0.9375rem;
  width: 0.9375rem;
  background-color: #5762e0;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

header .toggle-container input {
  position: absolute;
  left: -9999px;
}

header .toggle-container input:checked + label .toggle-ball {
  -webkit-transform: translateX(1.625rem);
          transform: translateX(1.625rem);
}

main .location-filter-box-m,
main .filter-box, .modal-box .time-filter-box-m, .search-grid .time-filter-box {
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding-right: 1rem;
  height: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main .label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main .icon-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

main input[type="text"] {
  background-color: white;
  border-radius: .375rem;
  font-family: inherit;
  padding: .5rem .75rem;
  line-height: 1.25rem;
  font-size: .875rem;
  width: 100%;
  height: 100%;
  border-width: 0;
  padding-left: 4rem;
  margin-right: -5rem;
}

main input[type="text"]::-webkit-input-placeholder {
  color: #6d7f97;
}

main input[type="text"]:-ms-input-placeholder {
  color: #6d7f97;
}

main input[type="text"]::-ms-input-placeholder {
  color: #6d7f97;
}

main input[type="text"]::placeholder {
  color: #6d7f97;
}

main .location-filter-box-m,
main .filter-box {
  position: relative;
}

main label.checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main label.checkbox input.checkbox {
  display: none;
}

main label.checkbox .check-icon {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #f3f5f7;
  border-radius: 3px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

main label.checkbox .check-icon::before {
  content: "\f00c";
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-size: 0.75rem;
  font-weight: 900;
  color: white;
  text-align: center;
  top: 3px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  opacity: 0;
}

main label.checkbox input.checkbox:checked + .check-icon {
  border-color: #5762e0;
  background-color: #5762e0;
}

main label.checkbox input.checkbox:checked + .check-icon::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(107, 114, 128, 0.75);
  width: 0;
  min-height: 100vh;
  z-index: 998;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay.active {
  width: 100%;
  opacity: 1;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  height: 15.625rem;
  opacity: 0;
  width: 0;
  border-radius: .375rem;
  z-index: 1000;
  overflow: hidden;
}

.modal-box .time-filter-box-m {
  height: 6rem;
  margin-top: 2rem;
  padding: 0 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-box .time-filter-box-m .btn {
  width: 100%;
}

.modal-box.active {
  width: 18.75rem;
  max-width: 100%;
  opacity: 1;
}

.search-grid {
  max-width: 81.25rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1.5625rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}

.search-grid .filter-box--title {
  border-top-left-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.search-grid .filter-box--title .filter-mobile {
  display: none;
}

.search-grid .filter-box--location {
  border-left: 1px solid rgba(110, 128, 152, 0.2);
  border-right: 1px solid rgba(110, 128, 152, 0.2);
}

.search-grid .time-filter-box {
  padding-left: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

@media (max-width: 900px) {
  .search-grid h4 {
    font-size: 0.9375rem;
  }
  .search-grid .btn {
    width: 6.875rem;
  }
}

@media (max-width: 768px) {
  .search-grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .search-grid .search-grid__item--title {
    width: 30rem;
    margin: 0 auto;
  }
  .search-grid .filter-box--location,
  .search-grid .time-filter-box {
    display: none;
  }
  .search-grid .filter-box--title {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
  }
  .search-grid .filter-box--title .filter-mobile {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
  }
  .search-grid .filter-box--title .filter-mobile div {
    cursor: pointer;
  }
  .search-grid .filter-box--title .filter-mobile .search-icon-box {
    background-color: #5762e0;
    width: 3rem;
    height: 3rem;
    margin-left: 1.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 550px) {
  .search-grid .search-grid__item--title {
    width: 100%;
  }
}

.btn {
  font-family: "Kumbh Sans Bold", sans-serif;
  font-size: 0.9375rem;
  cursor: pointer;
  display: inline-block;
  height: 2.8125rem;
  width: 8.125rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  padding: 0 0.9375rem;
}

.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-primary {
  background-color: #5762e0;
  color: white;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-primary:hover {
  background-color: #949cf4;
}

.btn-company {
  background-color: rgba(89, 100, 224, 0.1);
  border-radius: .3125rem;
  color: #5762e0;
  width: 8.75rem;
  height: 3rem;
  line-height: 1.18rem;
  font-size: 1rem;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn-company:hover {
  background-color: rgba(147, 155, 244, 0.35);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 1rem 0;
  gap: 4rem 2rem;
}

.grid-item {
  background-color: white;
  border-radius: .375rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 0 2rem 2rem;
}

.grid-item .company-logo {
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: "Kumbh Sans Bold", sans-serif;
  width: 3rem;
  height: 3rem;
  color: white;
  position: absolute;
  padding: .5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.grid-item .job-title {
  margin-top: .75rem;
}

.grid-item .company-name {
  margin-top: .78rem;
}

.grid-item .company-name p {
  color: #6d7f97;
  line-height: 1.25rem;
}

.grid-item .job-location {
  margin-top: 2.5rem;
}

.grid-item .view-details {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.grid-item .view-details:hover {
  background-color: #f3f5f7;
}

.grid-item .view-details .fill-current {
  fill: currentColor;
}

.grid-item .view-details .h-5 {
  height: 1.25rem;
}

.grid-item .view-details .w-5 {
  width: 1.25rem;
}

.grid-item .view-details .view {
  text-transform: uppercase;
  letter-spacing: .9px;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #5762e0;
  margin-left: 5px;
  margin-top: 2px;
  font-family: "Kumbh Sans Bold", sans-serif;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .grid {
    -webkit-column-gap: .75rem;
            column-gap: .75rem;
  }
}

@media (max-width: 1024px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-item {
    width: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-item {
    width: 100%;
  }
}

.load-more-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0.625rem 0;
  margin: 1.875rem 0;
}

/*===== FORM =====*/
.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 0 1.5rem;
}

.form {
  width: 22.5rem;
  padding: 4rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.625rem 1.5625rem rgba(92, 99, 105, 0.2);
          box-shadow: 0 0.625rem 1.5625rem rgba(92, 99, 105, 0.2);
}

.form__title {
  font-weight: 400;
  margin-bottom: 3rem;
}

.form__div {
  position: relative;
  height: 3rem;
  margin-bottom: 2rem;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  border: 1px solid #DADCE0;
  border-radius: .5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 .25rem;
  background-color: white;
  color: #80868B;
  font-size: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__button {
  display: block;
  margin-left: auto;
  padding: .75rem 2rem;
  outline: none;
  border: none;
  background-color: #5762e0;
  color: white;
  font-size: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.form__button:hover {
  -webkit-box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/*Input focus move up label*/
.form__input:focus + .form__label {
  top: -.5rem;
  left: .8rem;
  color: #5762e0;
  font-size: .75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -.5rem;
  left: .8rem;
  z-index: 10;
  font-size: .75rem;
  font-weight: 500;
}

/*Input focus*/
.form__input:focus {
  border: 1.5px solid #5762e0;
}

.job .container-sm {
  max-width: 49rem;
  margin: 0 auto;
  padding: 0 1.5625rem;
}

.job .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 9rem;
  background-color: white;
  border-radius: .375rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  position: relative;
}

.job .company__logo {
  background-color: #3db3d1;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 4rem;
  font-family: "Kumbh Sans Bold", sans-serif;
  border-top-left-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.job .company__logo p {
  line-height: 1;
}

@media (max-width: 600px) {
  .job .company__logo {
    border-radius: 1rem;
    position: absolute;
    top: -20%;
    left: 50%;
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
    display: -ms-grid;
    display: grid;
    place-items: center;
    z-index: 10000;
  }
}

.job .company__details {
  -webkit-box-flex: 4;
      -ms-flex: 4 4;
          flex: 4 4;
  padding: 2.625rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Kumbh Sans Bold", sans-serif;
}

@media (max-width: 600px) {
  .job .company__details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .job .company__details h2 {
    font-size: 1.25rem;
  }
  .job .company__details .company__name {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .job .company {
    height: 11rem;
  }
}

.job .job-details {
  background-color: white;
  border-radius: .375rem;
  padding: 0 1.7rem 2rem;
}

.job .job-details__time {
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.job .job-details__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.7rem;
}

.job .job-details__post .job-title {
  padding-right: 1rem;
}

.job .job-details__post .job-title p {
  margin-top: .6rem;
}

@media (max-width: 600px) {
  .job .job-details__post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .job .job-details__post .job-title {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 500px) {
  .job .job-details__post .job-application, .job .job-details__post .btn {
    width: 100%;
  }
}

.job .job-details__description {
  line-height: 1.9rem;
  color: #6d7f97;
}

.job .job-details__description p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.job .job-details__description ul {
  padding: 0 2rem;
}

.job .job-details__description ul li {
  margin-top: .6rem;
  margin-bottom: .6rem;
}

.job .how-to-apply {
  background-color: #5762e0;
  color: white;
  border-radius: .375rem;
  margin: 2rem 0 3.5rem;
  padding: 3.7rem 2rem;
}

.job .how-to-apply h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: "Kumbh Sans Bold", sans-serif;
  margin-bottom: 2rem;
}

.job .how-to-apply a {
  color: inherit;
  text-decoration: underline;
}
