.container {
  max-width: 1300px;
  padding: 0 25px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-color {
  color: #606ad7;
}

.bg-1 {
  background-color: #3db3d1;
}

.bg-2 {
  background-color: #df6dae;
}

.bg-3 {
  background-color: #3d3b94;
}

.bg-4 {
  background-color: #e66d39;
}

.bg-5 {
  background-color: #f0b62a;
}

.bg-6 {
  background-color: #007cff;
}

.bg-7 {
  background-color: #492a29;
}

.bg-8 {
  background-color: #ff585f;
}

html[data-theme="light"] {
  --bg: var(--gray--light);
  --main-base: var(--white);
  --heading: var(--blue--dark);
  --text--main: var(--gray--dark);
  --company-site-btn: var(--violet);
  --border: var(--white);
  --spinner: black;
  --back-to-top: hsla(219, 29%, 14%, .8);
  --error: hsla(0, 100%, 50%, .8);
  --shadowColor: 0, 0, 0, 0.3;
  --box-shadow: 5px 5px 15px 0 rgba(var(--shadowColor));
}

html[data-theme="dark"] {
  --bg: var(--midnight);
  --main-base: var(--blue--dark);
  --heading: var(--white);
  --text--main: var(--gray--dark);
  --company-site-btn: var(--white);
  --border: var(--midnight);
  --spinner: var(--violet);
  --back-to-top: var(--violet);
  --error: hsla(0, 100%, 50%, .4);
  --shadowColor: 0, 0, 0, 1;
  --box-shadow: 5px 5px 15px 0 rgba(var(--shadowColor));
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  background-color: #f3f5f7;
}

@font-face {
  font-family: "Kumbh Sans Regular";
  src: url("../../../textfont/KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kumbh Sans Bold";
  src: url("../../../textfont/KumbhSans-Bold.ttf") format("truetype");
}

html {
  font-family: 'Kumbh Sans Regular', sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  color: #19212e;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 1rem 0;
  gap: 4rem 2rem;
}

.grid-item {
  background-color: white;
  border-radius: .375rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 0 2rem 2rem;
}

.grid-item .company-logo {
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-family: 'Kumbh Sans Bold', sans-serif;
  width: 3rem;
  height: 3rem;
  color: white;
  position: absolute;
  padding: .5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.grid-item .job-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
  color: #6d7f97;
  line-height: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-item .job-time .dot {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-left: 1.5rem;
}

.grid-item .job-time .time {
  margin-left: .75rem;
}

.grid-item .job-title {
  margin-top: .75rem;
}

.grid-item .job-title h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-family: 'Kumbh Sans Bold', sans-serif;
}

.grid-item .company-name {
  margin-top: .78rem;
}

.grid-item .company-name p {
  color: #6d7f97;
  line-height: 1.25rem;
}

.grid-item .job-location {
  margin-top: 2.5rem;
}

.grid-item .job-location p {
  color: #606ad7;
  font-family: 'Kumbh Sans Bold', sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
}

.grid-item .view-details {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.grid-item .view-details:hover {
  background-color: #f3f5f7;
}

.grid-item .view-details .fill-current {
  fill: currentColor;
}

.grid-item .view-details .h-5 {
  height: 1.25rem;
}

.grid-item .view-details .w-5 {
  width: 1.25rem;
}

.grid-item .view-details .view {
  text-transform: uppercase;
  letter-spacing: .9px;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #606ad7;
  margin-left: 5px;
  margin-top: 2px;
  font-family: 'Kumbh Sans Bold', sans-serif;
  font-weight: 600;
}

@media (max-width: 1280px) {
  .grid {
    -webkit-column-gap: .75rem;
            column-gap: .75rem;
  }
}

@media (max-width: 1024px) {
  .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-item {
    width: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-item {
    width: 100%;
  }
}

.load-more-box {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 10px 0;
  margin: 30px 0;
}

header {
  background-color: #606ad7;
  height: 160px;
  margin-top: -30px;
}

header nav {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  color: white;
  text-decoration: none;
  font-family: "Kumbh Sans Bold", sans-serif;
  font-size: 26px;
  letter-spacing: .5px;
}

header .toggle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .toggle-container label {
  background-color: white;
  display: inline-block;
  position: relative;
  margin: 0 15px;
  width: 46px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
}

header .toggle-container .toggle-ball {
  height: 15px;
  width: 15px;
  background-color: #606ad7;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

header .toggle-container input {
  position: absolute;
  left: -9999px;
}

header .toggle-container input:checked + label .toggle-ball {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.modal_box .search-col, .modal_box .time-col, .search-bar .search-col, .search-bar .time-col {
  background-color: white;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  padding-right: 1rem;
  height: 5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(107, 114, 128, 0.75);
  width: 0;
  min-height: 100vh;
  z-index: 998;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.overlay.active {
  width: 100%;
  opacity: 1;
}

.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  height: 250px;
  opacity: 0;
  width: 0;
  border-radius: .375rem;
  z-index: 1000;
  overflow: hidden;
}

.modal_box .label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.modal_box .search-col {
  position: relative;
}

.modal_box .search-col input[type="text"] {
  background-color: white;
  border-radius: .375rem;
  font-family: inherit;
  padding: .5rem .75rem;
  line-height: 1.25rem;
  font-size: .875rem;
  width: 100%;
  height: 100%;
  border-width: 0;
  padding-left: 4rem;
  margin-right: -5rem;
}

.modal_box .search-col input[type="text"]::-webkit-input-placeholder {
  color: #6d7f97;
}

.modal_box .search-col input[type="text"]:-ms-input-placeholder {
  color: #6d7f97;
}

.modal_box .search-col input[type="text"]::-ms-input-placeholder {
  color: #6d7f97;
}

.modal_box .search-col input[type="text"]::placeholder {
  color: #6d7f97;
}

.modal_box .icon-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.modal_box .time-col {
  height: 6rem;
  margin-top: 2rem;
  padding: 0 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal_box .time-col .btn {
  width: 100%;
}

.modal_box .time-col label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-bottom: 2rem;
}

.modal_box .time-col label input.checkbox {
  display: none;
}

.modal_box .time-col label .check-icon {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #f3f5f7;
  border-radius: 3px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.modal_box .time-col label .check-icon::before {
  content: "\f00c";
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 900;
  color: white;
  text-align: center;
  top: 3px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  opacity: 0;
}

.modal_box .time-col label input.checkbox:checked + .check-icon {
  border-color: #3057d5;
  background-color: #3057d5;
}

.modal_box .time-col label input.checkbox:checked + .check-icon::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal_box.active {
  width: 300px;
  max-width: 100%;
  opacity: 1;
}

.search-bar {
  max-width: 1300px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: relative;
}

.search-bar .label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search-bar .by-title {
  border-top-left-radius: .375rem;
  border-bottom-left-radius: .375rem;
}

.search-bar .by-title .filter-mobile {
  display: none;
}

.search-bar .by-location {
  border-left: 1px solid rgba(110, 128, 152, 0.2);
  border-right: 1px solid rgba(110, 128, 152, 0.2);
}

.search-bar .by-time {
  border-top-right-radius: .375rem;
  border-bottom-right-radius: .375rem;
}

.search-bar .search-col {
  position: relative;
}

.search-bar .search-col .icon-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.search-bar .search-col input[type="text"] {
  background-color: white;
  border-radius: .375rem;
  font-family: inherit;
  padding: .5rem .75rem;
  line-height: 1.25rem;
  font-size: .875rem;
  width: 100%;
  height: 100%;
  border-width: 0;
  padding-left: 4rem;
  margin-right: -5rem;
}

.search-bar .search-col input[type="text"]::-webkit-input-placeholder {
  color: #6d7f97;
}

.search-bar .search-col input[type="text"]:-ms-input-placeholder {
  color: #6d7f97;
}

.search-bar .search-col input[type="text"]::-ms-input-placeholder {
  color: #6d7f97;
}

.search-bar .search-col input[type="text"]::placeholder {
  color: #6d7f97;
}

.search-bar .time-col {
  padding-left: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-bar .time-col label {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-bar .time-col label input.checkbox {
  display: none;
}

.search-bar .time-col label .check-icon {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #f3f5f7;
  border-radius: 3px;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

.search-bar .time-col label .check-icon::before {
  content: "\f00c";
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  font-weight: 900;
  color: white;
  text-align: center;
  top: 3px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  opacity: 0;
}

.search-bar .time-col label input.checkbox:checked + .check-icon {
  border-color: #3057d5;
  background-color: #3057d5;
}

.search-bar .time-col label input.checkbox:checked + .check-icon::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

@media (max-width: 900px) {
  .search-bar h4 {
    font-size: 15px;
  }
  .search-bar .btn {
    width: 110px;
  }
}

@media (max-width: 768px) {
  .search-bar {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .search-bar .title-grid {
    width: 30rem;
    margin: 0 auto;
  }
  .search-bar .by-location,
  .search-bar .by-time {
    display: none;
  }
  .search-bar .by-title {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
  }
  .search-bar .by-title .filter-mobile {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 100;
  }
  .search-bar .by-title .filter-mobile div {
    cursor: pointer;
  }
  .search-bar .by-title .filter-mobile .search-icon-box {
    background-color: #606ad7;
    width: 3rem;
    height: 3rem;
    margin-left: 1.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 550px) {
  .search-bar .title-grid {
    width: 100%;
  }
}

.btn {
  font-family: 'Kumbh Sans Bold', sans-serif;
  font-size: 15px;
  cursor: pointer;
  height: 45px;
  width: 130px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 15px;
}

.btn-primary {
  background-color: #606ad7;
  color: white;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
}

.btn-primary:hover {
  background-color: #949cf4;
}

.admin-login {
  background: linear-gradient(120deg, #606ad7, #8e44ad);
  height: 100vh;
  padding: 0 25px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  max-width: 100%;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 30px 0;
}

.login-box h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(110, 128, 152, 0.2);
}

.login-box form {
  padding: 0 40px;
}

.login-box form .input-box {
  position: relative;
  border-bottom: 2px solid rgba(110, 128, 152, 0.2);
  margin: 30px 0;
}

.login-box form .input-box input {
  width: 100%;
  padding: 0 10px;
  height: 40px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
}

.login-box form .input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-box form .input-box span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #606ad7;
  -webkit-transition: .5s;
  transition: .5s;
}

.login-box form .input-box input:focus ~ label,
.login-box form .input-box input:valid ~ label {
  top: -5px;
  color: #606ad7;
  font-size: 14px;
}

.login-box form .input-box input:focus ~ span::before,
.login-box form .input-box input:valid ~ span::before {
  width: 100%;
}

.login-box form input[type="submit"] {
  display: block;
  width: 200px;
  margin: 50px auto 0;
  max-width: 100%;
}
