.btn {
    font-family: $ff-bold;
    font-size: 0.9375rem;
    cursor: pointer;
    display: inline-block;
    height: 2.8125rem;
    width: 8.125rem;
    border-radius: 0.3125rem;
    border: none;
    outline: none;
    padding: 0 0.9375rem;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: $primary-color;
    color: $white;
    transition: background-color .4s ease;

    &:hover {
        background-color: $primary-color-light;
    }
}

.btn-company {
    background-color: $company-btn-bg;
    border-radius: .3125rem;
    color: $primary-color;
    width: 8.75rem;
    height: 3rem;
    line-height: 1.18rem;
    font-size: 1rem;
    transition: background-color .3s;

    &:hover {
        background-color: $company-btn-bg-hover;
    }
}