.btn {
    font-family: 'Kumbh Sans Bold', sans-serif;
    font-size: 15px;
    cursor: pointer;
    height: 45px;
    width: 130px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0 15px;
}

.btn-primary {
    background-color: $primary-color;
    color: $white;
    transition: background-color .4s ease;

    &:hover {
        background-color: $primary-color-light;
    }
}