%filter-col-shared {
    background-color: $white;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    padding-right: 1rem;
    height: 5rem;
    display: inline-flex;
    align-items: center;
    width: 100%;
} 

.search-bar {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    justify-content: center;
    padding: 0 25px;
    transform: translateY(-50%);
    position: relative;

    .label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        white-space: nowrap;
        border-width: 0;
    }

    .by-title {
        border-top-left-radius: .375rem;
        border-bottom-left-radius: .375rem;
    }

    .by-location {
        border-left: 1px solid rgba(110,128,152,0.2);
        border-right: 1px solid rgba(110,128,152,0.2);
    }

    .by-time {
        border-top-right-radius: .375rem;
        border-bottom-right-radius: .375rem;
    }

    .search-col {
        position: relative;
        @extend %filter-col-shared;

        div {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            padding-left: 1.5rem;
            display: flex;
            align-items: center;
            pointer-events: none;
        }

        input[type="text"] {
            background-color: $white;
            border-radius: .375rem;
            font-family: inherit;
            padding: .5rem .75rem;
            line-height: 1.25rem;
            font-size: .875rem;
            width: 100%;
            height: 100%;
            border-width: 0;
            padding-left: 4rem;
            margin-right: -5rem;

            &::placeholder {
                color: $gray-dark;
            }
        }
    }

    .time-col {
        @extend %filter-col-shared;
        padding-left: 1.5rem;
        justify-content: space-between;

        label {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 15px;
            align-items: center;
            cursor: pointer;

            input.checkbox {
                display: none;
            }

            .check-icon {
                position: relative;
                display: inline-block;
                height: 20px;
                width: 20px;
                background-color: $gray-light;
                border-radius: 3px;
                transition: .2s all ease-in-out;
            }

            .check-icon::before {
                content : "\f00c";
                position: absolute;
                width: 100%;
                height: 100%;
                font-family: "Font Awesome 5 Free";
                font-size: 12px;
                font-weight: 900;
                color: white;
                text-align: center;
                top: 3px;
                transform: scale(1.5);
                transition: .2s all ease-in-out;
                opacity: 0;
            }

            input.checkbox:checked + .check-icon {
                border-color: #3057d5;
                background-color: #3057d5;
            }

            input.checkbox:checked + .check-icon::before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

}