/*===== EXTENDS AN REUSABLE CLASSES =====*/

%job-time {
    display: flex;
    padding-top: 3rem;
    color: var(--gray-dark);
    line-height: 1.25rem;
    align-items: center;
}

%dot {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-left: 1.5rem;
}

%time {
    margin-left: .75rem;
}

%job-title {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-family: var(--ff-bold);
}

%job-location {
    color: var(--primary-color);
    font-family: var(--ff-bold);
    font-size: .875rem;
    line-height: 1.25rem;
}

.container {
    max-width: 84rem;
    padding: 0 1.2rem;
    margin: 0 auto;
}

.row {
    display: flex;
}

.primary-color {
    color: var(--primary-color);
}

.bg-1 {background-color: #3db3d1;}
.bg-2 {background-color: #df6dae;}
.bg-3 {background-color: #3d3b94;}
.bg-4 {background-color: #e66d39;}
.bg-5 {background-color: #f0b62a;}
.bg-6 {background-color: #007cff;}
.bg-7 {background-color: #492a29;}
.bg-8 {background-color: #ff585f;}