@font-face {
    font-family: "Kumbh Sans Regular";
    src: url("../../../textfont/KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kumbh Sans Bold";
    src: url("../../../textfont/KumbhSans-Bold.ttf") format("truetype");
}

html {
    font-family: 'Kumbh Sans Regular', sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
    color: $primary-color-dark;
}