@font-face {
    font-family: "Kumbh Sans Regular";
    src: url("../../../textfont/KumbhSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Kumbh Sans Bold";
    src: url("../../../textfont/KumbhSans-Bold.ttf") format("truetype");
}

html {
    font-family: 'Kumbh Sans Regular', sans-serif;
    scroll-behavior: smooth;
    font-size: 15px;
    color: var(--text--main);
}

h1, h2, h3, h4, p > strong {
    color: var(--heading)
}