.job {
    .container-sm {
        max-width: 49rem;
        margin: 0 auto;
        padding: 0 1.5625rem;
    }

    .company {
        display: flex;
        height: 9rem;
        background-color: var(--base-bg);
        border-radius: .375rem;
        transform: translateY(-2rem);
        position: relative;

        &__logo {
            background-color: #3db3d1;
            color: var(--white);
            flex: 1 1;
            display: grid;
            place-items: center;
            font-size: 4rem;
            font-family: var(--ff-bold);
            border-top-left-radius: .375rem;
            border-bottom-left-radius: .375rem;

            p {
                line-height: 1;
            }
   
            @include rwd(600) {
                border-radius: 1rem;
                position: absolute;
                top: -20%;
                left: 50%;
                transform: translate(-50%, 20%);
                font-size: 1rem;
                height: 3rem;
                width: 3rem;
                display: grid;
                place-items: center;
                z-index: 10000;
            }
        }

        &__details {
            flex: 4 4;
            padding: 2.625rem 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: var(--ff-bold);
            color: var(--heading-color);

            @include rwd(600) {
                flex-direction: column;

                h2{font-size: 1.25rem;}

                .company__name{margin-bottom: 1.5rem;}
            }
        }

        @include rwd(600) {
            height: 11rem;
        }
    }

    .job-details {
        background-color: var(--base-bg);
        border-radius: .375rem;
        padding: 0 1.7rem 2rem;
        
        &__time {
            @extend %job-time;
            padding-top: 2rem;
            margin-bottom: 1rem;

            .dot {
                @extend %dot;
            }
    
            .time {
                @extend %time;
            }
        }

        &__post {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.7rem;

            .job-title {
                padding-right: 1rem;
                h2 {
                    color: var(--heading-color);
                    @extend %job-title;
                }
    
                p {
                    @extend %job-location;
                    margin-top: .6rem;
                }
            }

            @include rwd(600) {
                flex-direction: column;
                align-items: flex-start;

                .job-title {
                    margin-bottom: 1.5rem;
                }
            }

            @include rwd(500) {
                .job-application, .btn {
                    width: 100%;
                }
            }
        }

        &__description {
            line-height: 1.9rem;
            color: var(--gray-dark);

            p {
                margin-top: 1.25rem;
                margin-bottom: 1.25rem;
            }

            ul {
                padding: 0 2rem;

                li {
                    margin-top: .6rem;
                    margin-bottom: .6rem;
                }
            }

        }
    }

    .how-to-apply {
        background-color: var(--primary-color);
        color: var(--white);
        border-radius: .375rem;
        margin: 2rem 0 3.5rem;
        padding: 3.7rem 2rem;

        h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            font-family: var(--ff-bold);
            margin-bottom: 2rem;
        }

        a {
            color: inherit;
            text-decoration: underline;
        }

    }
}