.container {
    max-width: 1300px;
    padding: 0 25px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.primary-color {
    color: hsl(235, 60%, 61%);
}

.bg-1 {background-color: #3db3d1;}
.bg-2 {background-color: #df6dae;}
.bg-3 {background-color: #3d3b94;}
.bg-4 {background-color: #e66d39;}
.bg-5 {background-color: #f0b62a;}
.bg-6 {background-color: #007cff;}
.bg-7 {background-color: #492a29;}
.bg-8 {background-color: #ff585f;}