$primary-color: rgb(68, 80, 216);
$primary-color-light: hsl(235, 82%, 77%);
$primary-color-dark: hsl(219, 29%, 14%);
$midnight: hsl(220, 29%, 10%);
$white: hsl(0, 0%, 100%);
$gray: hsl(212, 23%, 69%);
$gray-light: hsl(210, 22%, 96%);
$gray-dark: hsl(214, 17%, 51%);

$company-btn-bg: rgba(89, 100, 224, 0.1);
$company-btn-bg-hover: rgba(147, 155, 244, 0.35);

$check-box-color: #3057d5;

$ff-bold: "Kumbh Sans Bold", sans-serif;
$ff-regular: "Kumbh Sans Regular", sans-serif;