$primary-color: hsl(235, 60%, 61%);
$primary-color-light: hsl(235, 82%, 77%);
$primary-color-dark: hsl(219, 29%, 14%);
$midnight: hsl(220, 29%, 10%);
$white: hsl(0, 0%, 100%);
$gray: hsl(212, 23%, 69%);
$gray-light: hsl(210, 22%, 96%);
$gray-dark: hsl(214, 17%, 51%);